<section id="about">

<link rel='stylesheet' href='/Content/app.css' />
<link rel='stylesheet' href='/Content/phone.css' />
<link rel='stylesheet' href='/Content/tablet.css' />
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />
<link herf="Tablet-mode.css" rel="stylesheet" type="text/css" media="only screen and (min-width:481px) and (max-width:1099px)">
<link herf="Phone-Mode.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">

<!--Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-code"></i> mar1yam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="len1" class="hoverable nav-link nav-link-clicked" href="/home">
            <i class="fa-solid fa-house"></i> Home
          </a>
        </li>

        <li class="nav-item">
          <a id="len2" class="hoverable nav-link nav-link-clicked" href="/about">
            <i class="fa-solid fa-venus"></i> About
          </a>
        </li>

        <li class="nav-item">
          <a id="len3" class="hoverable nav-link nav-link-clicked" href="/projects">
            <i class="fa-solid fa-laptop"></i> Projects
          </a>
        </li>

        <li class="nav-item">
          <a id="len3" class="hoverable nav-link nav-link-clicked" href="/assignmentslist">
            <i class="fa-solid fa-laptop"></i> Assignment
          </a>
        </li>

        <li class="nav-item">
          <a id="len4" class="hoverable nav-link nav-link-clicked" href="/contact">
            <i class="fa-solid fa-address-book"></i> Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="about-container">

        <!--I do not know the exact source of this profile image but i've been using it for 2 years and I screeshotted it out of tiktok.-->
            <img src="../Assets/images/Moi.jpg"/>

        <!--About Me Description-->
            <div class="about-text">
            <p>About Me</p>
            <p>-> Second year in Networking & IT <br>Security</p>
            <p>-> Proeficient in Python, Java, and CSS <br>programing languages</p>
            <p>-> Proficiency in networking protocols and <br>technologies (TCP/IP, VLAN, DNS, DHCP)</p>
            <p>-> Familiarity with cloud platforms like <br>AWS, Azure, and GCP</p>
            <p>-> Aspiring Cloud Engineer</p>
            <p>Video</p>
        
            <!--This video is not the best but this is the best I could do in terms of the multiple retakes. :) -->
            <div class="video">
                <video width="560" height="315" controls>
                    <source src="../Assets/VID_9015.mp4" type="video/mp4">
            </div>
            </div>
        </div>
</section>

  <!--Script Files-->
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>