<section id="projects">

<link rel='stylesheet' href='/Content/app.css' />
<link rel='stylesheet' href='/Content/phone.css' />
<link rel='stylesheet' href='/Content/tablet.css' />
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />
<link herf="Tablet-mode.css" rel="stylesheet" type="text/css" media="only screen and (min-width:481px) and (max-width:1099px)">
<link herf="Phone-Mode.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">

<!--Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-code"></i> mar1yam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="len1" class="hoverable nav-link nav-link-clicked" href="/home">
            <i class="fa-solid fa-house"></i> Home
          </a>
        </li>

        <li class="nav-item">
          <a id="len2" class="hoverable nav-link nav-link-clicked" href="/about">
            <i class="fa-solid fa-venus"></i> About
          </a>
        </li>

        <li class="nav-item">
          <a id="len3" class="hoverable nav-link nav-link-clicked" href="/projects">
            <i class="fa-solid fa-laptop"></i> Projects
          </a>
        </li>

        <li class="nav-item">
          <a id="len3" class="hoverable nav-link nav-link-clicked" href="/assignmentslist">
            <i class="fa-solid fa-laptop"></i> Assignment
          </a>
        </li>

        <li class="nav-item">
          <a id="len4" class="hoverable nav-link nav-link-clicked" href="/contact">
            <i class="fa-solid fa-address-book"></i> Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <!--services-container---------------------------->
 <div class="project-container">

    <!--Title-->
    <div class="project-text ">
<p>👩🏻‍💻 Projects</p>
        </div>

        <!--I will be creating 3 boxes to showcase 3 projects. My idea is for the mouse to hover on the box and my text shows-->
    <div class="box-container">
    
        <!--Box 1-->
        <div class="box-1">
        <span>1</span>
        <p class="heading">Case Study</p>
        <div class="overlay-text">
            <p>-> Designed & implemented network for CryptoMine, a global crypto mining company.<br>
            -> Connected NA branches (Chicago, Vancouver, Toronto, Mexico).<br>
            -> Used Cisco Packet Tracer for router, switch, WAN config.<br>
            -> Employed BGP for seamless inter-branch communication.<br>
            -> Expertise in:<br>
            &nbsp&nbsp&nbsp&nbsp&nbsp· IP addressing<br>
            &nbsp&nbsp&nbsp&nbsp&nbsp· VLANs, Trunking<br>
            &nbsp&nbsp&nbsp&nbsp&nbsp· OSPF routing, BGP<br>
            -> Extensive inter-VLAN routing & connectivity testing.<br>
            -> Demonstrated collaboration, problem-solving, technical skills.<br></p>
        </div>
        </div>

   <!--Box 2-->
        <div class="box-2">
        <span>2</span>
        <p class="heading">Game Development</p>
        <div class="overlay-text">
            <p>-> Created an encryption game employing various algorithms:<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp·Substitution<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp·Playfair<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp·Caesar<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp·Transposition<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp·Product<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp·RSA ciphers.<br>
                -> Demonstrated proficiency in Python, implementing proper OOP principles, inheritance, and operator overloading.<br>
                -> Maintained code readability and consistency through effective layout and indentation.<br>
                -> The project showcased expertise in encryption, cryptography, and algorithm implementation.<br>
                </p>
        </div>
        </div>

    <!--Box 3-->
        <div class="box-3">
        <span>3</span>
        <p class="heading">Cherry Blossom Website</p>
        <div class="overlay-text">
            <p>-> This website represents my very first project created <br>during the SheCodes Basics Workshop.<br>
                -> It showcases my initial steps in web development and <br>demonstrates the fundamental skills I acquired <br>through the course.<br>
                -> The project encompasses various elements of HTML, <br>CSS, and JavaScript. <br>
                -> Includes responsive design, interactivity, and a <br>structured layout.<br>
                -> Creating this website marked the beginning of my <br>journey in coding, providing a solid foundation for more <br>advanced web development projects in the future.<br>
            <br> <a href="https://s3.amazonaws.com/shecodesio-production/challenge_submissions/files/000/889/958/original/Flower.html?1653801741" target="_blank" class="custom-link">Click Here</a>
        </p>
        </div>
    </div>
</div>
</section>


  <!--Script Files-->
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>